.inp_text {
    border: 2px solid rgb(160, 185, 255);
    border-radius: 4px;
    background-color: rgb(180, 170, 255);
    height: 1.5em;
}
body {
    background-color: rgb(140, 200, 255);
}

.contain {
    background-color: rgb(180, 200, 255);
    height: 25em;
    margin: 0 auto;
    width: 60%;
    border: 1.8px solid #501ac4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup {
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
    border-radius: 5px;
    background-color: rgb(238, 212, 218);
}
.signup:hover {
    background-color: rgb(237, 168, 184);
    cursor: pointer;
}

#incorrectcase {
    color: red;
}