.inp_text {
    border: 2px solid rgb(160, 185, 255);
    border-radius: 4px;
    background-color: rgb(180, 170, 255);
    height: 1.5em;
}
body {
    background-color: rgb(140, 200, 255);
}

.contain {
    background-color: #3c5077;
    height: 100vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(238, 212, 218);
    outline: none;
    font-weight: 500;
}
.signup:hover {
    background-color: rgb(237, 168, 184);
    cursor: pointer;

}
.tempo {
    visibility: hidden;
    background-color: #ffffff;
    text-align: center;
    border: 5px solid white;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    position: absolute;
}
#incorrectcase {
    color: red;
}
.popuptext1 {
    margin: 50px 0px;
}
.popuptext2 {
    background-color: pink;
    padding: 5px;
    border-radius: 30px;
    margin-top: 150px;
}
.popuptext2:hover {
    background-color: rgb(246, 163, 177);
}
